<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HLS player</title>
</head>
<body>
    <video id="video_player" controls style="width:90%;"></video>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1.1.3/dist/hls.min.js"></script>
    <script>
        const video = document.getElementById('video_player');
        const videoSrc = '/videos/example.output.m3u8';

        if(Hls.isSupported()) {
            const hls = new Hls();

            hls.loadSource(videoSrc);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED,() => {
                console.log("R");
                video.play().catch((e) => {
                    console.log(e);
                });
            });
        } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = videoSrc;
            video.addEventListener('loadedmetadata', () => {
                video.play().catch((e) => {
                    console.log(e);
                })
            });
        }
    </script>
</body>
</html>